body {
  background-color: #b9ebd5e7;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

#main-title {
  text-align: center;
  font-size: 3rem;
  padding: 0%;
  color: #4e1fce;
}

#number-question {
  text-align: center;
  font-size: 1.8rem;
  padding: 0%;
  color: #4e1fce;
}

.combo-tiles-numbers {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  gap: 0.3rem; /* optional spacing between tiles */
  max-width: 60%;
  margin: 0 auto;
}

.combo-tile-button {
  background-color: #b9ebd5e7;
  padding: 0%;
  width: 6rem;
  height: 8rem;
  border: none;
  border-radius: 15%;
}

.combo-number-icon {
  background-color: #b9ebd5e7;
  width: 3rem;
  height: 3rem;
  color: #4e1fce;
}

.combo-number-icon:hover {
  background-color: #62ae91e7;
}

.combo-tile-text {
  background-color: #b9ebd5e7;
  color: #4e1fce;
}

.tiles-text {
  max-width: 70%;
  margin: 0 auto;
}

.tile-button-text {
  background-color: #d9ebe4e7;
  padding: 7px;
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 15%;
  margin-top: 2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  font-size: 1.5rem;
  color: #2e6cb8e7;
  border: solid 6px;
  border-color: #0db1ece7;
  text-align: center;
}

/* .combo-tile-image {
  width: 5rem;
  height: 5rem;
} */

.combo-tile-button:hover {
  background-color: #62ae91e7;
}

.numberImage {
  max-width: 35%;
  height: auto;
  border-radius: 15%;
  border: solid 6px;
  border-color: #4e1fce;
}

.image-container {
  text-align: center;
  padding: 10px 20px;
}
