body {
  background-color: #b9ebd5e7;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

#main-title {
  text-align: center;
  font-size: 3rem;
  padding: 0%;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  gap: 10px; /* optional spacing between tiles */
  max-width: 70%;
  margin: 0 auto;
}

.tile-button {
  background-color: #d9ebe4e7;
  padding: 0%;
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 15%;
}

.tile-image {
  width: 5rem;
  height: 5rem;
}

.tile-button:hover {
  background-color: #62ae91e7;
}

#number-question {
  text-align: center;
  font-size: 2rem;
}

.numberImage {
  max-width: 40%;
  height: auto;
}

.image-container {
  text-align: center;
  padding: 10px 20px;
}
