#app {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #b9ebd5e7;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

#main-title {
  text-align: center;
  font-size: 3rem;
  padding: 0%;
  color: #4e1fce;
}

#number-question {
  text-align: center;
  font-size: 1.8rem;
  padding: 0%;
  color: #4e1fce;
}

.combo-tiles-numbers {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  row-gap: 0.3rem;
  column-gap: 0rem;
  max-width: 85%;
  margin: 0 auto;
  gap: 0;
}

.combo-tile-button {
  background-color: #b9ebd5e7;
  margin: 0;
  padding: 0.5rem;
  width: 15rem;
  height: 12rem;
  border: none;
  border-radius: 15%;
}

.combo-number-icon {
  background-color: #b9ebd5e7;
  width: 7rem;
  height: 7rem;
  color: #4e1fce;
  pointer-events: none;
}

.combo-tile-text {
  background-color: #b9ebd5e7;
  color: #4e1fce;
  pointer-events: none;
  font-size: 2rem;
  margin-top: 0%;
}

.tiles-text {
  max-width: 70%;
  margin: 0 auto;
}

.tile-button-text {
  background-color: #d9ebe4e7;
  padding: 7px;
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 15%;
  margin-top: 2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  font-size: 1.5rem;
  color: #2e6cb8e7;
  border: solid 6px;
  border-color: #0db1ece7;
  text-align: center;
}

.combo-tile-button:hover {
  background-color: #62ae91e7;
}

.combo-tile-button:hover .combo-number-icon,
.combo-tile-button:hover .combo-tile-text {
  background-color: #62ae91e7;
}

.numberImage {
  max-width: 500px; /* caps the width */
  max-height: 500px; /* caps the height */
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 15%;
  border: solid 6px;
  border-color: #4e1fce;
}

.image-button {
  background-color: #b9ebd5e7;
  border: none;
}

.image-container {
  text-align: center;
  padding: 10px 20px;
}

@media screen and (max-width: 768px) {
  .combo-tiles-numbers {
    grid-template-columns: repeat(3, 1fr);
    max-width: 85%;
  }
  #main-title {
    font-size: 2rem;
  }

  #number-question {
    font-size: 1.2rem;
  }

  .combo-tile-button {
    width: 100%; /* Let it flex to fit the grid */
    height: auto; /* Let height adjust naturally */
    min-height: 8rem; /* Optional: set a minimum height */
  }

  .combo-number-icon {
    width: 4rem;
    height: 4rem;
  }

  .combo-tile-text {
    font-size: 1.5rem;
  }
  .numberImage {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
